.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    background: url(../assets/images/hero-image.jpg) no-repeat center / cover var(--color-dark-grin);
    min-height: 100svh;
    padding-bottom: 82px;
}

.footer__main, 
.footer__extra,
.hero {
    :focus-visible {
        outline-color: var(--color-light);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    max-height: calc(var(--header-height) + 20 * 2);
    width: 100%;
    padding: 20px 10px;
    font-family: 'NunitoSans-SemiBold', sans-serif;
    font-weight: 600;
    color: var(--color-light);
    white-space: nowrap;
    text-decoration: none;
}

.header__logo {
    flex-shrink: 0;
}

.header__actions {
    display: flex;
    column-gap: 50px;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 24px;
}

.header__link {
    position: relative;
    font-size: clamp(12px, 1.45vw, 18px);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 2px;
        clip-path: inset(0 50% 0 50%);
        background-color: currentColor;
        transition-duration: var(--transition-duration);
        transition-property: clip-path;
    }

    &:hover::after {
        clip-path: inset(0);
    }
}

.header__burger-button {
    display: none;
    width: 30px;
    height: 25px;
    flex-direction: column;
    row-gap: 4px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    padding: 0;

    & span {
        height: 3px;
        border-radius: 8px;
        width: 100%;
        background-color: var(--color-light);

        &:last-child {
            width: 53%;
        }
    }
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &.container {
        padding-bottom: 0;
    }
}

.registration__title {
    font-family: 'NextArt-Bold', sans-serif;
    font-size: clamp(26px, 4.03vw, 50px);
    text-transform: uppercase;
    color: var(--color-light);
    margin-bottom: 41px;
}

.registration__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    gap: 24px;
    width: 100%;
    background-color: var(--color-transparent-white);
    backdrop-filter: blur(6px);
    padding: 40px 42px;
    border-radius: 10px;
}

.registration__input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.input-wrapper {
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        display: inline-block;
        width: 18px;
        aspect-ratio: 1;
        background: url(../assets/icons/calendar.svg) no-repeat center / contain;
    }
}

.registration__input {
    position: relative;
    
    &::placeholder {
        color: var(--color-light);
    }
}

.registration__label {
    color: var(--color-light);
    padding-left: 8px;
}

.registration__selection {
    appearance: none;

    &:focus {
        background-color: var(--color-hover-gray);
    }
}

.select-wrapper {
    position: relative;
    display: inline;

    &::after {
        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 20px;
        aspect-ratio: 1;
        background: url(../assets/icons/arrow-down.svg) no-repeat center / contain;
        pointer-events: none;
    }
}

.registration__button {
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius-button);
    padding: 1em 2.25em;
    max-height: 52px;
    color: var(--color-dark-grin);
    font-family: var(--font-family-accent);
    font-size: clamp(14px, 1.29vw, 16px);
    white-space: nowrap;
    transition-duration: var(--transition-duration);
    transition-property: background-color;

    &:hover {
        background-color: var(--color-hover-light);
    }
}

.explore__inner {
    display: flex;
    align-items: center;
    gap: 40px 120px;
    padding-top: 100px;
}

.explore__video-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 480px;
    height: max-content;
    padding-top: 126px;
    padding-left: 130px;
}

.explore__back-image {
    position: absolute;
    bottom: 126px;
    right: 130px;
    border-radius: 24px;
}

.explore__video-wrapper {
    position: relative
}

.explore__video {
    position: relative;
    border-radius: 24px;
    min-width: 280px;
}

.explore__play-button {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 14.29%;
    aspect-ratio: 1;
    background: url(../assets/icons/play-button.svg) no-repeat center / contain;
    transition-duration: var(--transition-duration);
    transition-property: width;

    &:hover {
        width: 15.5%;
    }
}

.explore__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 580px;
}

.title {
    color: var(--color-yellow);
    font-size: clamp(16px, 1.93vw, 24px);
    font-weight: 400;
    margin-bottom: 8px;
}

.subtitle {
    font-family: 'NunitoSans-ExtraBold', sans-serif;
    font-size: clamp(24px, 2.58vw, 32px);
    line-height: 1.2;
}

.explore__body-subtitle:not(:last-child) {
    margin-bottom: 40px;
}

.explore__body-description {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.programs__inner {
    display: flex;
    align-items: center;
    gap: 30px 90px;
}

.programs__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 580px;
}

.programs__subtitle {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.programs__description {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.programs__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.programs__item {
    position: relative;
    padding-left: 66px;
}

.programs__icon {
    position: absolute;
    right: calc(100% - 50px);
    top: 50%;
    transform: translateY(-50%);
}

.programs__item-title {
    font-size: 18px;
    margin-bottom: 4px;
}

.programs__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 510px;
}


.program__card {
    &:nth-child(1) {
        border-radius: 0px 50px / 0px 50px;
    }

    &:nth-child(2) {
        border-radius: 50px 0% / 50px 0px;
    }

    &:nth-child(3) {
        border-radius: 50px 0px / 50px 0px;
    }

    &:nth-child(4) {
        border-radius: 0px 50px / 0px 50px;
    }
}

.destinations__card-rating {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #FFFFFF40;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 7px 8px 7px 36px;
    font-family: var(--font-family-accent);
    color: var(--color-dark-grin);
    transition-duration: 1s;
    transition-property: right;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        display: inline-block;
        width: 24px;
        aspect-ratio: 1;
        background: url(../assets/icons/star.svg) no-repeat center / contain;
    }
}

.destinations__header {
    flex-direction: column-reverse;
}

.destinations__list {
    display: flex;
    column-gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.destinations__card {
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    width: 380px;
    height: 500px;
    scroll-snap-align: center;

    &:hover .destinations__card-body {
        bottom: 0;
    }

    &:hover .destinations__card-rating {
        right: -130px;
    }
}

.destinations__item {
    &:nth-child(1) .destinations__card {
        background: url(../assets/images/card-background-image-1.jpg) no-repeat center / cover var(--color-dark-grin);
    }

    &:nth-child(2) .destinations__card {
        background: url(../assets/images/card-background-image-2.jpg) no-repeat center / cover var(--color-dark-grin);
    }

    &:nth-child(3) .destinations__card {
        background: url(../assets/images/card-background-image-3.jpg) no-repeat center / cover var(--color-dark-grin);
    }
}

.destinations__card-body {
    position: absolute;
    bottom: calc(-100% + 90px);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: 32px;
    background-color: var(--color-transparent-white);
    backdrop-filter: blur(6px);
    color: var(--color-light);
    transition-duration: 1s;
    transition-property: bottom;
}

.destinations__card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    white-space: nowrap;

    &:not(:last-child) {
        margin-bottom: 70px;
    }
}

.destinations__card-title {
    font-family: var(--font-family-accent);
    font-size: 24px;
    line-height: 1.2;
}

.destinations__card-subtitle {
    font-size: 14px;
}

.destinations__card-description {
    &:not(:last-child) {
        margin-bottom: 73px;
    }
}

.destinations__card-price {
    background-color: #FFFFFF30;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: var(--font-family-accent);
    font-size: 20px;
}

.destinations__card-link {
    align-self: flex-start;
}

.blogs__header {
    flex-direction: column-reverse;
}

.blogs__blog-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.blogs__blog {
    display: flex;
    align-items: center;
    column-gap: 24px;
    min-width: 490px;
    background-color: var(--color-light);
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--box-shadow);
    scroll-snap-align: center;

    &:nth-child(3) .blogs__blog-image {
        object-position: bottom;
    }
}

.blogs__blog-image {
    border-radius: var(--border-radius-card);
    object-fit: cover;
    object-position: top;
}

.blogs__blog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-block: 16px;
}

.blogs__blog-title-wrapper {
    &:hover {
        text-decoration: underline;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.blogs__blog-title {
    font-size: clamp(20px, 1.94vw, 24px);
    line-height: 1.3;
}

.blogs__blog-description {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.blogs__blog-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    font-family: var(--font-family-accent);
}

.blogs__blog-time {
    color: var(--color-yellow);
}

.blogs__blog-link {
    color: var(--color-dark-grin);
    white-space: nowrap;


    &:hover {
        text-decoration: underline;
    }
}

.link-wrapper {
    display: flex;
    justify-content: center;
    
    &.container {
        padding-top: 0;
    }
}

.experience__header {
    flex-direction: column;
}

.experience__images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.experience__images-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.experience__image {
    object-fit: cover;
    max-width: 280px;
    width: 280px;
    border-radius: var(--border-radius-card);
    scroll-snap-align: center;
}

.image__wide {
    grid-column: span 2;
    max-width: 580px;
    min-width: 280px;
    width: 100%;
    height: 100%;
}

.footer__main {
    background-color: var(--color-dark-grin);
}

.footer__form-wrapper {
    padding-inline: 16px;
}

.footer__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px 20px;
    background-color: var(--color-light);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow);
    margin-bottom: -98px;

    &.container {
        padding-block: 40px;
        padding-inline: 100px;
    }
}

.footer__form-body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-width: 536px;
}

.footer__form-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.footer__form-header {
    display: flex;
    flex-direction: column-reverse;
    max-width: 380px;
}

.footer__form-subtitle {
    font-size: clamp(16px, 1.45vw, 18px);
}

.footer__form-title {
    font-size: clamp(24px, 2.1vw, 26px);
}

.footer__form-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px 8px;
}

.footer__form-label {
    font-family: 'NunitoSans-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 16px;

    &:not(:last-child) {
        margin-bottom: 8px    
    }
}

.footer__form-input {
    display: flex;
    border: none;
    padding: 12px 16px;
    background-color: var(--color-background-light);
    border-radius: var(--border-radius-button);

    &:focus-visible {
        outline-offset: 0;
    }
}

.footer__form-agreement {
    font-family: 'NunitoSans-SemiBold', sans-serif;

    & a {
        color: currentColor;
        transition-duration: var(--transition-duration);
        transition-property: color;

        &:hover {
            color: var(--color-hover-grin)
        }
    }
}

.footer__main-inner {
    &.container {
        padding-top: calc(98px + 80px);
        padding-bottom: 80px;
    }
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 50px;
    color: var(--color-light);
}

.footer-title {
    font-size: 20px;
    font-family: var(--font-family-accent);
    font-weight: 700;
}

.footer__about {
    max-width: 480px;
    
}

.footer__about-title {
    &:not(:last-child) {
        margin-bottom: 17px
    }
}

.footer__about-description {
    &:not(:last-child) {
        margin-bottom: 80px
    }
}

.footer__contacts {
    display: flex;
    column-gap: 24px;

    & a {
        color: inherit;
        transition-duration: var(--transition-duration);
        transition-property: color;

        &:hover {
            color: var(--color-yellow);
        }
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.footer__icons {
    display: flex;
    column-gap: 4px;
}

.footer__icons-link {
    padding: 6px;
    border-radius: 50%;

    & svg path {
        transition-duration: var(--transition-duration);
        transition-property: fill;
    }

    &:hover svg path {
        fill: var(--color-yellow)
    }
}

.footer-block {
    max-width: 280px;
}

.footer-title--block {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.footer-item {
    position: relative;
    padding-left: calc(8px + 10px);
    padding-block: 8px;
    transition-duration: var(--transition-duration);
    transition-property: color;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 10px;
        aspect-ratio: 1;
        background: url(../assets/icons/arrow-right.svg) no-repeat center / contain;
        transition-duration: var(--transition-duration);
        transition-property: transform;
    }

    &:hover {
        color: var(--color-yellow);
        text-decoration: underline;

        &::before {
            transform: translate(5px, -50%);
        }
    }
}

.footer-item--new {
    position: relative;
    display: inline-block;

    &::after {
        content: 'new';
        padding: 2px 10px;
        margin-left: 8px;
        font-family: var(--font-family-accent);
        font-weight: 700;
        font-size: 12px;
        color: var(--color-dark-grin);
        background-color: var(--color-light);
        border-radius: var(--border-radius-button);
    }
}

.footer__extra {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.footer__extra-inner {
    display: flex;
    justify-content: space-between;
    gap: 8px 20px;

    &.container {
        padding-block: 24px;
    }
}

.footer__privacy-policy {
    text-decoration: underline;
    transition-duration: var(--transition-duration);
    transition-property: color;

    &:hover {
        color: var(--color-yellow)
    }
}

@media (max-width: 1080px) {
    .programs__inner {
        flex-direction: column;
    }

    .programs__images {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;

        & .program__card {
            border-radius: 0;
            justify-self: center;
        }
    }

    .programs__icon {
        top: 0;
        transform: translateY(0);
    }

    .blogs__blog-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1020px) {
    .input {
        padding-block: 10px;
        padding-left: 10px;
    }

    .registration__button {
        padding-block: 8px;
        padding-inline: 20px;
        max-height: 42px;
    }
    
    .explore__inner {
        column-gap: 60px;
    }

    .footer__form {
        align-items: center;
    }

    .footer__form-action {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 940px) {
    .registration__form {
        grid-template-columns: repeat(2, 1fr);
    }

    .registration__input-wrapper {
        width: 100%;
        justify-self: center;
    }

    .registration__button {
        width: 100%;
        max-height: 40px;
        justify-self: center;
    }

    .header__actions {
        column-gap: 25px;
    }

    .header__list {
        column-gap: 18px;
    }

    main .container {
        max-width: max-content;
    }

    .explore__inner {
        flex-direction: column-reverse;
    }

    .programs__images {
        display: none;
    }

    .experience__images-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience__image.image__wide:nth-child(1) {
        object-position: -170px center;
    }

    .footer__form {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__form-body {
        row-gap: 24px;
    }

    .footer__about {
        grid-column: span 2;
    }

    .footer__info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 810px) {
    .header__actions {
        display: none;
    }
    
    .header__burger-button {
        display: flex;
    }
    
    .destinations__card {
        &:hover .destinations__card-body {
            bottom: 0;
        }
    
        &:hover .destinations__card-rating {
            right: 0;
        }
    }

    .destinations__card-body {
        padding-inline: 24px;
        top: calc(100% - 70px);
        transition-duration: 0s;
    }

    .destinations__card-title {
        font-size: 18px;
    }

    .destinations__card-subtitle {
        display: none;
    }

    .destinations__card {
        width: 285px;
        height: 400px;
    }

    .destinations__card-header {
        height: 70px;
        margin-bottom: 0;
    }

    .destinations__card-price {
        font-size: 18px;
        padding: 6px 12px;
    }

    .destinations__card-description {
        display: none;
    }

    .destinations__card-link {
        display: none;
    }

    .blogs__blog {
        flex-direction: column;
        min-width: auto;
        width: 285px;
        padding: 0;
    }

    .blogs__blog-content {
        padding-inline: 16px;
    }

    .blogs__blog-image {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 10px 10px 0 0;
    }

    .blogs__blog-title-wrapper {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .blogs__blog-footer {
        padding-top: 16px;
    }
}

@media (max-width: 642px) {
    .registration {
        align-items: flex-start;
    }

    .registration__form {
        display: flex;
        justify-content: flex-start;
        background-color: transparent;
        backdrop-filter: none;
        padding: 32px 0 0
    }

    .registration__input-wrapper {
        display: none;
    }

    .registration__button {
        font-size: 16px;
        padding: 16px 36px;
        max-height: none;
        width: auto;
        justify-self: normal;
    }

    .explore__body-subtitle:not(:last-child) {
        margin-bottom: 24px;
    }

    .explore__body-description:not(:last-child) {
        margin-bottom: 24px;
    }

    .footer__extra-inner {
        flex-direction: column;
        align-items: center;
    }

    .footer__form.container {
        padding-inline: 24px;
    }
}

@media(max-width: 520px) {
    .explore__back-image {
        display: none;
    }

    .explore__video-content-wrapper {
        padding: 0;
    }

    .explore__body-link {
        align-self: center;
    }

    .programs__link {
        align-self: center;
    }

    .programs__subtitle {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .programs__description {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .programs__list {
        row-gap: 32px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .section-header {
        align-items: flex-start;

        &.container {
            margin: 0
        }
    }

    .footer__info {
        grid-template-columns: 1fr;
    }

    .footer__about {
        grid-column: 1;
    }
}

@media (max-width: 442px) {
    .hero {
        padding-bottom: 50px;
    }

    .header__burger-button {
        width: 21px;
        height: 18px;
    }

    main .container {
        padding-block: 50px;
    }
    
    .section-body.container:not(:last-child) {
        padding-bottom: 32px;
    }

    .footer__main-inner.container {
        padding-top: 50px
    }

    .footer__form {
        margin-bottom: 50px;
    }

    .footer__about-description {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}